{% load static %}

<link rel="stylesheet" href="{% static 'css/core/header.css' %}">

<div class="header-container">
    <div class="header-logo-container">
        <a href="{% url 'core:index' %}">
            <img class="header-logo" src="{% static 'images/logo.png' %}" alt="">
        </a>        
    </div>
    <div class="navbar-container">
        <div class="header-info">
        </div>
        <nav>
            <a href="{% url 'core:index' %}">
                <button class="nav-button bold caption">HOME</button>
            </a>
            <a href="{% url 'schedule:index' %}">
                <button class="nav-button bold caption">ESCALAS</button>
            </a>            
            <button class="nav-button bold caption">PRODUCAO</button>
        </nav>
    </div>
    
</div>
<hr class="header-detail">