/* GLOBAL CSS */

/* ==================================================
   IMPORTS
   ================================================== */

/* Font Roboto */
@font-face{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* ==================================================
   RESETS
   ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

/* ==================================================
   VARIABLES
   ================================================== */

:root{

    /* Colors */
    --color-primary: #BA0C2F; /* Red */
    --color-secondary: #FFCC00; /* Yellow */
    --color-detail1: #000000; /* Black */
    --color-detail2: #FFFFFF; /* White */
    --color-detail3: #7A0215; /* Dark Red */

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;

    /* Font Sizes */
    --size-title: 3.25rem;
    --size-subtitle: 2.25rem;
    --size-text: 1.25rem;
    --size-caption: 1rem;

    
    /* Font Weights */
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-regular: 400;
    --weight-ligth: 300;
    --weigth-thin: 100;

    /* Font Sets */
    --text-title: normal normal var(--weight-bold) var(--size-title) var(--font-roboto);
    --text-subtitle: normal normal var(--weight-semibold) var(--size-subtitle) var(--font-roboto);
    --text-text: normal normal var(--weight-regular) var(--size-text) var(--font-roboto);
    --text-caption: normal normal var(--weight-thin) var(--size-caption) var(--font-roboto);

}

/* ==================================================
   FONTS
   ================================================== */

/* Paragraph */
p{
    font: var(--text-text);
    color: var(--color-secondary);
}

h1{
    font: var(--text-title);
    color: var(--color-primary);
}

h2{
    font: var(--text-subtitle);
    color: var(--color-secondary);
}

/* Font Weights */

.bold{
    font-weight: var(--weight-bold);
}

.semibold{
    font-weight: var(--weight-semibold);
}

.regular{
    font-weight: var(--weight-regular);
}

.light{
    font-weight: var(--weight-ligth);
}

.thin{
    font-weight: var(--weight-thin);
}

/* Font Sizes */

.title{
    font-size: var(--size-title);
    color: var(--color-primary);
}

.subtitle{
    font-size: var(--size-subtitle);
    color: var(--color-secondary);
}

.text{
    font-size: var(--size-text);
    color: var(--color-secondary);
}

.caption{
    font-size: var(--size-caption);
    color: var(--color-secondary);
}

/* ==================================================
   STRUCTURE
   ================================================== */

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--color-detail2);
    justify-content: center;
}

header{
    height: 60px;
    width: 100vw;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;

}

main{
    width: 100vw;
    border-radius: 15px;
    margin-top: 75px;
    margin-bottom: 75px;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

/* ==================================================
   BUTTONS
   ================================================== */

.nav-button{
    width: 100px;
    height: 30px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.nav-button:hover{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    cursor: pointer;
}

.button-primary{
    width: 135px;
    height: 50px;
    border-radius: 15px;
    font: var(--text-text);
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.button-primary:hover{
    background-color: var(--color-detail3);
    cursor: pointer;
}

.deactivated{
    background-color: var(--color-detail2);
    color: var(--color-primary);
    border: solid 2px var(--color-primary);
}

/*  ============================================================
    MODAL STRUCTURE
    ============================================================ */ 

.modal-container{
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content{
  position: relative;
  background-color: var(--color-detail3);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
  
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/*  ============================================================
    ERROR MODAL
    ============================================================ */ 

.error-modal-container{
    padding-top: 80vh; 
}

.error-modal-content{
  width: 500px;
  height: 100px;
  padding: 10px;
}