<!DOCTYPE html>
<html lang="pt">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="icon" href="{% static 'icons/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/core/styles.css' %}">
        {% block style %}{% endblock %}

    </head>

    <body>
        
        <header>
            {% include 'core/partials/header.html' %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% include 'core/partials/footer.html' %}
        </footer>

    </body>

</html>